:root {
    --body-bg: #000000;
    --widget-bg: #2b2929;
    --text-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover: rgba(0, 0, 0, 0.15);
    --primary-color: #3b82f6
    --primary-color-text: #ffffff;
}